
<% if(page.layout === 'tags') { %>
   <%- partial('_widget/page-tagcloud') %>  

<% } else if(page.layout === 'links') { %>
    <%- partial('_widget/page-links') %>

<% } else if(page.layout === 'timeline') { %>
    <%- partial('_widget/page-timeline') %>

<% } else { %>

<link rel="stylesheet" href="/css/prism_<%= theme.prism %>.css" />
<link rel="stylesheet" href="/css/typo.css" />
<body class="is-loading">
    <div id="wrapper" class="fade-in">
        <%- partial('_partial/headerlogo', {}, {cache: true}) %>
        <%- partial('_partial/nav' , {}, {cache: true}) %>

        <div id="main" >
            <div class ="post_page_title_img" style="height: 25rem;background-image: url(<%= page.thumbnail %>);background-position: center; background-repeat:no-repeat; background-size:cover;-moz-background-size:cover;overflow:hidden;" >
                <a href="#" style="padding: 4rem 4rem 2rem 4rem ;"><h2 ><%= page.title %></h2></a>
            </div>

            <div class="typo" style="padding: 3rem;">
                <%-page.content%>
            </div>

<div align="center"> 
<li id="footer-info-copyright">网站内容采用<a class="external" rel="nofollow" href="https://www.gnu.org/copyleft/fdl.html">GNU自由文档许可证3或更高版本</a>授权</li> <img src="https://licensebuttons.net/l/by-nc-sa/3.0/88x31.png" alt="知识共享许可协议"></div>


        </div>
    </div>
</body>
<% }  %>
