	<!-- Modified by lsqyRobot -->
    <title>
    <%-config.title %>
    </title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="google-site-verification" content="Mbr82TZaQktpHzJ9Wt0AZ4B9JFdVUi1Xjxs8gf20DDM" />
    <link rel="stylesheet" href="<%- config.root %>css/timeLine.css" />
    <link rel="stylesheet" href="<%- config.root %>css/lsqy_main.css" />
    <link rel="stylesheet" href="<%- config.root %>css/dropdownMenu.css" />
    <meta name="keywords" content="<%- theme.head.keywords %>" />
    <noscript>
        <link rel="stylesheet" href="<%- config.root %>css/noscript.css" />
    </noscript>
    <style type="text/css">
        body:before {
          content: ' ';
          position: fixed;
          top: 0;
          background: url(https://api.dujin.org/bing/1366.php) center 0 no-repeat;
          right: 0;
          bottom: 0;
          left: 0;
          background-size: cover; 
        }
    </style>
